.page-content {
  > app-tabs {
    animation: slide-up var(--duration-normal) var(--ease-default) both;
    animation-delay: 0ms;
    display: block;
  }

  > .tab-content {
    margin-top: var(--space-6);
  }
}
